<div class="file-source">
  <table>
    <tr>
      <th align="right">Line</th>
      <th align="right">Branch</th>
      <th align="right">Exec</th>
      <th align="left">Source</th>
    </tr>

    {{- range .Lines }}
    <tr class="source-line">
      <td class="lineno"><a id="l{{ .LineNumber }}" href="#l{{ .LineNumber }}">{{ .LineNumber }}</a></td>
      <td class="linebranch">
      </td>
      <td class="linecount uncoveredLine">
        {{- if .UnexecedBlock -}}
          &cross;
        {{- else -}}
          {{ .Count }}
        {{- end -}}
      </td>
      <td class="src {{ if .UnexecedBlock }}uncoveredLine{{ else }}coveredLine{{ end }}">{{ .SourceCode }}</td>
    </tr>
    {{- end -}}

  </table>
</div>
