<div class="file-source">
  <table>
    <tr>
      <th align="right">Line</th>
      <th align="right">Branch</th>
      <th align="right">Exec</th>
      <th align="left">Source</th>
    </tr>

    {{- range .Lines }}
    {{- $covClass := "" -}}
    {{- if .UnexecedBlock -}}
      {{- $covClass = "uncoveredLine" -}}
    {{- else -}}
      {{- $covClass = "coveredLine" -}}
    {{- end -}}
    {{- if .Tainted -}}
      {{- $covClass = "taintedLine" -}}
    {{- end -}}
    {{- if .NoCode -}}
      {{- $covClass = "nocodeLine" -}}
    {{- end -}}

    <tr class="source-line">
      <td class="lineno"><a id="l{{ .LineNumber }}" href="#l{{ .LineNumber }}">{{ .LineNumber }}</a></td>
      <td class="linebranch">
      </td>
      <td class="linecount {{ $covClass }}">
        {{- if .NoCode -}}
          &mdash;
        {{- else -}}
          {{- if .UnexecedBlock -}}
            &cross;
          {{- else -}}
            {{ .Count }}
          {{- end -}}
        {{- end -}}
      </td>
      <td class="src {{ $covClass }}">{{ .SourceCode }}</td>
    </tr>
    {{- end -}}

  </table>
</div>
