<div>
  <table class="legend">
    <tr>
      <th scope="row">Directory:</th>
      <td>{{ .Coverage.CWD }}</td>
    </tr>
    <tr>
      <th scope="row">File:</th>
      <td>{{ .File.Name }}</td>
    <tr>
      <th scope="row">Date:</th>
      <td>2021-06-30 12:24:59</td>
    </tr>
   </tr>
  </table>
</div>
<div>
  <table class="coverage">
    <tr>
      <th></th>
      <th scope="col">Exec</th>
      <th scope="col">Total</th>
      <th scope="col">Coverage</th>
    </tr>
    <tr>
      {{- with .File.LineCoverage -}}
        <th scope="row">Lines:</th>
        <td>{{ .Exec }}</td>
        <td>{{ .Total }}</td>
        <td class="TODO">{{ printf "%.2f" .Percentage }}%</td>
      {{- end -}}
    </tr>
    <tr>
      <th scope="row">Branches:</th>
      <td>0</td>
      <td>0</td>
      <td class="TODO">0%</td>
    </tr>
  </table>
</div>
