<div>
  <table class="legend">
    <tr>
      <th scope="row">Directory:</th>
      <td>{{ .CWD }}</td>
    </tr>
    <tr>
      <th scope="row">File:</th>
      <td>{{ .DataFile }}</td>
    <tr>
      <th scope="row">Date:</th>
      <td>2021-06-30 12:24:59</td>
    </tr>
   </tr>
  </table>
</div>
<div>
  <table class="coverage">
    <tr>
      <th></th>
      <th scope="col">Exec</th>
      <th scope="col">Total</th>
      <th scope="col">Coverage</th>
    </tr>
    <tr>
      <th scope="row">Lines:</th>
      <td>0</td>
      <td>0</td>
      <td class="TODO">0%</td>
    </tr>
    <tr>
      <th scope="row">Branches:</th>
      <td>0</td>
      <td>0</td>
      <td class="TODO">0%</td>
    </tr>
  </table>
</div>
